html{
    background-color: #fbe8d8;
    
    

}
.projecten {
    text-align: center;
    text-decoration: none;
    margin: 20px;
    display: flex;

}
.link {
    font-size: 40px;
    display:flex;
    text-align: justify;
}
h6 {
    text-align: center;
    font-size: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 1280px;
    height: 500px;
    
    
}
body {
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color:black;
    font-style:italic; 
    font-family: "tangerine", sans-serif;
    font-weight: 900;
    font-size: 80px;
    font-style:oblique;
}
h2{
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: peachpuff;
        overflow: hidden;
        
}
h3 {
    display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #E2C3AF;
        overflow: hidden;
}
h4 {
    display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #E2C3AF;
        overflow: hidden;
}

p {
    font-style:oblique;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

footer{
    text-align: center;
    font-style: oblique;

}

nav {
    background-color:transparent;
    padding: 10px;
}

.menu {
    list-style-type: none;
    text-align: center;
    font-style: italic;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: palevioletred;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #E5EFEB;
    border-radius: 4px;
}

  /* Container voor skill */
  .skill-container {
    width: 100%;
    background-color: #e0e0e0; /* Lichte achtergrondkleur */
    border-radius: 10px;       /* Ronde hoeken */
    margin: 10px 0;
}

/* Binnenste balk */
.skill-bar {
    height: 25px;              /* Hoogte van de balk */
    background-color: #D7CCC0; /* Kleur van de balk */
    width: 70%;                /* Percentage van de vaardigheid */
    border-radius: 10px;       /* Zelfde radius voor ronde hoeken */
    text-align: right;         /* Tekst aan de rechterkant */
    padding-right: 5px;
    color: #C99D8E;              /* Tekstkleur */
    font-weight: bold;
}
button{
    text-align: center;
    

    
    
}

